:root {
  --cp-color: black;
  --cp-border: 1px solid var(--cp-color);
  --cp-chess: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=');
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #2b2b2c;
  color: #bababb;
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
}
